@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Regular.ttf');
    src: url('fonts/Montserrat-Bold.ttf');
    src: url('fonts/Montserrat-Black.ttf');
    src: url('fonts/Montserrat-BlackItalic.ttf');
    src: url('fonts/Montserrat-BoldItalic.ttf');
    src: url('fonts/Montserrat-ExtraBold.ttf');
    src: url('fonts/Montserrat-ExtraLight.ttf');
    src: url('fonts/Montserrat-Regular.ttf');
    src: url('fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    }
 
body{
    font-size: 10px;
    background: rgb(240, 8, 255);
}

a{
    text-decoration:none;
}

.logo-text{
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-family: montserrat;
    font-size: 37px;
}

.thumbnail-item + .thumbnail-item{
    margin-top: 10px;
}

.thumbnail-image{
    display:block;
    width: 100%;
}

.thumbnail-list{
    list-style: none;
    padding: 0;
}

.thumbnail-item{
    display: block;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-title{
    display: block;
    margin: 0;
    padding: 4px 10px;
    background: rgb(96, 125, 139);
    color:rgb(202, 238, 255);
    font-size: 18px;
}

.detail-image {
    width: 90%;
}